.md-grid {
  max-width: 97%;
}


:root {
  --md-admonition-icon--pied-piper: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M575.92 76.6c-.01-8.13-3.02-15.87-8.58-21.8-3.78-4.03-8.58-9.12-13.69-14.5 11.06-6.84 19.5-17.49 22.18-30.66C576.85 4.68 572.96 0 567.9 0H447.92c-70.69 0-128 57.31-128 128H160c-28.84 0-54.4 12.98-72 33.11V160c-48.53 0-88 39.47-88 88v56c0 8.84 7.16 16 16 16h16c8.84 0 16-7.16 16-16v-56c0-13.22 6.87-24.39 16.78-31.68-.21 2.58-.78 5.05-.78 7.68 0 27.64 11.84 52.36 30.54 69.88l-25.72 68.6a63.945 63.945 0 0 0-2.16 37.99l24.85 99.41A15.982 15.982 0 0 0 107.02 512h65.96c10.41 0 18.05-9.78 15.52-19.88l-26.31-105.26 23.84-63.59L320 345.6V496c0 8.84 7.16 16 16 16h64c8.84 0 16-7.16 16-16V318.22c19.74-20.19 32-47.75 32-78.22 0-.22-.07-.42-.08-.64V136.89l16 7.11 18.9 37.7c7.45 14.87 25.05 21.55 40.49 15.37l32.55-13.02a31.997 31.997 0 0 0 20.12-29.74l-.06-77.71zm-64 19.4c-8.84 0-16-7.16-16-16s7.16-16 16-16 16 7.16 16 16-7.16 16-16 16z"/></svg>');
  --md-admonition-icon--cseas: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M496.101 385.669l14.227 28.663c3.929 7.915.697 17.516-7.218 21.445l-65.465 32.886c-16.049 7.967-35.556 1.194-43.189-15.055L331.679 320H192c-15.925 0-29.426-11.71-31.679-27.475C126.433 55.308 128.38 70.044 128 64c0-36.358 30.318-65.635 67.052-63.929 33.271 1.545 60.048 28.905 60.925 62.201.868 32.933-23.152 60.423-54.608 65.039l4.67 32.69H336c8.837 0 16 7.163 16 16v32c0 8.837-7.163 16-16 16H215.182l4.572 32H352a32 32 0 0 1 28.962 18.392L438.477 396.8l36.178-18.349c7.915-3.929 17.517-.697 21.446 7.218zM311.358 352h-24.506c-7.788 54.204-54.528 96-110.852 96-61.757 0-112-50.243-112-112 0-41.505 22.694-77.809 56.324-97.156-3.712-25.965-6.844-47.86-9.488-66.333C45.956 198.464 0 261.963 0 336c0 97.047 78.953 176 176 176 71.87 0 133.806-43.308 161.11-105.192L311.358 352z"/></svg>');
}

.md-typeset .admonition.pied-piper,

.md-typeset details.pied-piper {
  border-color: rgb(43, 155, 70);
}

.md-typeset .pied-piper > .admonition-title,

.md-typeset .pied-piper > summary {
  background-color: rgba(43, 155, 70, 0.1);
}

.md-typeset .pied-piper > .admonition-title::before,

.md-typeset .pied-piper > summary::before {
  background-color: rgb(43, 155, 70);
  -webkit-mask-image: var(--md-admonition-icon--pied-piper);
          mask-image: var(--md-admonition-icon--pied-piper);
}

@keyframes heart {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.15);
  }
}
.heart {
  animation: heart 1000ms infinite;
}

.cc-btn {
    background-color: #008CBA;; /* Green */
    border: none;
    color: white;
	border-radius: 8px;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.input-btn {

    color: black;
    border: 2px solid #4CAF50; /* Green */
	border-radius: 8px;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.cc-btn:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

/* ====================================================================================================================================================  */

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #22272e;
  --md-primary-bg-color: #adbac7;

  --md-default-fg-color: #adbac7;
  --md-default-bg-color: #22272e;

  --md-body-bg-color: #22272e;
  --md-header-bg-color: rgba(34, 39, 46, 0.8);

  --md-code-fg-color: #adbac7;
  --md-code-bg-color: #1d2126;

  --md-accent-fg-color: #aaa;

  --md-admonition-fg-color: #adbac7;

  --md-footer-fg-color: #adbac7;

  --md-typeset-color: #adbac7;
  --md-typeset-a-color: #52bbb1;

  --md-typeset-btn-color: #52bbb1;
  --md-typeset-btn-hover-color: #55aea6;

  --md-admonition-pythontutor-color: #30363f;
}

[data-md-color-scheme="slate"][data-md-color-primary="black"],
[data-md-color-scheme="slate"][data-md-color-primary="white"] {
  --md-typeset-a-color: #52bbb1;
    --md-primary-fg-color: #c0c0c02e;
}

[data-md-color-primary="black"] .md-header {
   background-color: var(--md-header-bg-color);
}

.md-header {
  box-shadow: none;
  transition: none;
  backdrop-filter: saturate(180%) blur(20px); /* Gaussian blur */
  -webkit-backdrop-filter: saturate(180%) blur(20px); /* Safari */
  background-color: var(--md-header-bg-color);
    border-bottom: 1px solid #19720f69;
}

